.container {
  max-width: 1200px;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: start;
}

.justify-between {
  justify-content: space-between;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.bg-gray {
  background-color: #ececec;
}

.text-white {
  color: #fff;
}
.text-dark {
  color: #2c2c2c;
}
.text-danger {
  color: #f86a42;
}

.text-center {
  text-align: center;
}

.fw-bold {
  font-weight: bold;
}
.fw-italic {
  font-style: italic;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  background-color: #faae00;
  padding: 0.7rem 2rem;
  transition: transform 0.3s, background-color 0.3s;
}
.btn:hover {
  transform: scale(1.07);
  background-color: #e59c00;
}
